.container {
    width: 100%;
    height: 400px;
}

.banner {    
    display: grid;
    grid-auto-flow: column;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.banner img {
    width: 100vw;
    height: 400px;
    object-fit: cover;
    scroll-snap-align: center;
} 