.container {
    background-color: #fff;
    width: 1200px;
    max-width: 80%;
    margin: -40px auto;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.container select {
    width: 150px;
}

.input {
    max-width: 150px;
    padding: 1em 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    padding: 1em 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #db5252;
    color: #fff;
    cursor: pointer;
}